@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
--font-primaria: "Montserrat", sans-serif;

--backgroud-cor: #f5e4c4;
--cor-primaira-texto:#000000;
--cor-card: #105b5a;
}

* {
    background-color: var(--backgroud-cor);
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: content-box;
        
}


body {
    height: 2048vh;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.primeiraLinha {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.RedesSociais {
    display: flex;
    gap: 30px;
    cursor: pointer;
    align-items: center;
}

#barraDepesquisa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #05AF7F;
    outline: none;
    background-image: url('./assets/heroicons_magnifying-glass-16-solid.png');
    background-repeat: no-repeat;
    background-position: 93%
}

#contpesquisa {
    display: flex;
    gap: 107px;
   
}

.banner {
    max-width: 100%;
    height: auto;
}

.linedivisao {
    background-color: #05AF7F;
    width: 100%;
    height: 2px;
}

.barraatalho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 35px;
    font-family:var(--font-primaria);
    color: var(--cor-primaira-texto);
    font-weight: 650;
}

.barraatalho li {
    transition: all 0.25s ease-in-out;
    cursor: pointer
}

.barraatalho li:hover {
    color: #05AF7F;
    transform: scale(1.05);
    border-bottom: 1px solid #05AF7F;
}


