@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

@font-face {
    font-family: "noisywalk";
    src: url("./fonts/NOISYWALK.TTF") format("truetype");
}

:root {
--font-primaria: "Montserrat", sans-serif;
--font-titulo-style: "noisywalk", sans-serif;
--font-secundaria: "Oxanium", sans-serif;

--background-cor: #FFF3DD;
--cor-primaria-texto:#000000;
--cor-secundaria-texto: #ffffff;

--cor-alternativa1: #105b5a;
--cor-alternativa2: #00532F;
--cor-alternativa3: #023821;
--cor-alternativa4: #05AF7F;
--cor-alternativa5: #F4D78A;
--cor-alternativa6: #022825;
}

html {
    scroll-behavior: smooth;
    background-color: var(--background-cor);
}

* {
    padding: 0%;
    margin: 0%;
    color: inherit;
    text-decoration: none; 
    list-style: none;
    box-sizing: content-box; 
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.logo {
    cursor: pointer;
}

.primeiraLinha {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.RedesSociais {
    display: flex;
    gap: 30px;
    cursor: pointer;
    align-items: center;
}

#barraDepesquisa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid var(--cor-alternativa4);
    outline: none;
    background-image: url('./assets/heroicons_magnifying-glass-16-solid.png');
    background-repeat: no-repeat;
    background-position: 93%
}

#contpesquisa {
    display: flex;
    gap: 107px;
   
}

.linedivisao {
    background-color: var(--cor-alternativa4);
    margin: 0 auto;
    width: 1400.5px;  
    height: 2px;
}

.barraatalho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 35px;
    padding-bottom: 49px;
    font-family:var(--font-primaria);
    color: var(--cor-primaria-texto);
    font-weight: 650;
}

.barraatalho li {
    transition: all 0.25s ease-in-out;
    cursor: pointer
}

.barraatalho li:hover {
    color: var(--cor-alternativa4);
    transform: scale(1.05);
    border-bottom: 1px solid var(--cor-alternativa4);
}

.banner {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;

}

.hero {
    z-index: 2;
    position: absolute; 
    top: 50%; 
    right: 50%;
    padding-top: 40px;
    padding-left: 53px;
    display: flex; 
    flex-direction: column; 
    text-align: left; 
    background-color: transparent;
    color: var(--cor-secundaria-texto); 
    gap: 21px; 
}

.titulo {
    color: var(--cor-alternativa4);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--cor-secundaria-texto);
    font-size: 5rem;
    font-family: var(--font-titulo-style);
}
.subtitulo {
    font-family: var(--font-primaria);
    font-size: 1.5rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--cor-primaria-texto);
}

.button {
    width: 14rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    border: 1px solid #05AF7F;
    background: linear-gradient(57deg, #05AF7F 0%, #033331 99.98%);
    box-shadow: 0px 1px 71.9px 0px #033331;
    color: var(--cor-secundaria-texto);
    font-family: var(--font-primaria);
    font-weight: 1000;
    font-size: 0.875rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
.button:hover {
    color: var(--cor-alternativa4);
    transform: scale(1.05);
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%; 
    max-width: 1200px; 
}


.card {
    margin: 0; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 12px 62px 29px 42px;
    width: 267px;
    height: 428px;
    color: white;
    transition: all 0.25s ease;
    cursor: pointer;
}

.imgcard {
    display: flex;
    justify-content: space-between;
}

.imgcard {
    padding-top: 15px;
}

.arrow {
    width: auto;
    height: 41px;
    transition: all 0.25s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    .arrow {
        transform: rotate(230deg);
    }
}

.iconcard {
    max-width: 53px;
    height: auto;
}

.titulocard {
    font-size: 30px;
    font-weight: 100%;
    font-family: var(--font-primaria);
}
.conteudocard {
    font-family: var(--font-primaria);
    font-size: 20px;
    font-weight: 500;
}

#card1 {
    margin-top: 0;
    background: #077955;
}

#card2 {
    margin-bottom: -10rem;
    background-color: #00532F;
}

#card3{
    margin-bottom: -20rem;
    background-color: #023821;
}

.cronometro_page {
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 85px;
        justify-content: center;
        align-items: center;
}

.cronometro_card{
    margin-top: 500px;
    width: 1250px;
    height: 190px;
    border-radius: 10px;
    border: 1px solid var(--cor-alternativa4);
    background: var(--cor-alternativa6);
    display: flex;
    align-items: center;
}

.cont_cronometro_card {
    display: flex;
    align-items: center;
    display: flex;

}
.titulocontagem {
    font-size: 32px;
    font-weight: 700;
    width: 400px;
    color: var(--cor-secundaria-texto);
    font-family: var(--font-primaria);
    padding-left: 5.5em;
    z-index: 12;
}
.arvore {
    width: 400px;
    height: 394px;
    padding-bottom: 200px;
    position: absolute;
}

.contagem_regressiva {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    font-family: var(--font-primaria);
    font-size: 24px;
    font-weight: 700;
    color: var(--cor-alternativa5);
}

.contagem_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont_numero {
    font-weight: 900;
    font-size: 50px;
    color: var(--cor-alternativa4);
}

.noticias_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 100vh;
}

.mini_card_cop {
    border-radius: 6px;
    border: 1px solid var(--cor-alternativa4);
    background-color: var(--cor-alternativa6);
}

.cont_card_cop {
    font-family: var(--font-primaria);
    font-size: 25px;
    padding: 7px 12px 7px 12px;
    color: var(--cor-alternativa4);
    font-weight: 800;
}

.titulo_noticias {
    font-family: var(--font-primaria);
    font-size: 64px;
    color: var(--cor-primaria-texto);
    font-weight: 800;
}

.botao_mais_artigos {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 6px;
    border: 3px solid var(--cor-alternativa4);
    padding:13px 24px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.botao_mais_artigos:hover {
background-color: #0b804d;
transform: scale(1.05);
}

.cont_card_artigos {
    font-family: var(--font-primaria);
    font-size: 16px;
    font-weight: 600;
    color: var(--cor-primaria-texto);
}


@media (max-width: 1400px) {
    .navbar {
        padding: 22.5px; /* 30px reduzido em 25% */
    }

    .primeiraLinha {
        gap: 150px; /* 200px reduzido em 25% */
    }

    #barraDepesquisa {
        padding: 9px; /* 12px reduzido em 25% */
        border-radius: 15px; /* 20px reduzido em 25% */
        background-position: 93%; /* Mantido */
    }

    .linedivisao {
        width: 1040.25px;
    }

    .barraatalho {
        gap: 22.5px; /* 30px reduzido em 25% */
        padding: 26.25px; /* 35px reduzido em 25% */
        padding-bottom: 36.75px; /* 49px reduzido em 25% */
    }

    .titulo {
        font-size: 3.75rem; /* 5rem reduzido em 25% */
    }

    .subtitulo {
        font-size: 1.125rem; /* 1.5rem reduzido em 25% */
    }

    .button {
        width: 10.5rem; /* 14rem reduzido em 25% */
        height: 2.25rem; /* 3rem reduzido em 25% */
        font-size: 0.65625rem; /* 0.875rem reduzido em 25% */
    }

    .cards {
        gap: 15px; /* 20px reduzido em 25% */
        padding: 15px; /* 20px reduzido em 25% */
    }

    .card {
        padding: 9px 46.5px 21.75px 31.5px; /* 12px 62px 29px 42px reduzido em 25% */
        width: 200.25px; /* 267px reduzido em 25% */
        height: 321px; /* 428px reduzido em 25% */
    }

    .titulocard {
        font-size: 22.5px; /* 30px reduzido em 25% */
    }

    .conteudocard {
        font-size: 15px; /* 20px reduzido em 25% */
    }

    .cronometro_card {
        width: 937.5px; /* 1250px reduzido em 25% */
        height: 142.5px; /* 190px reduzido em 25% */
        margin-top: 375px; /* 500px reduzido em 25% */
        padding: 15px; /* 20px reduzido em 25% */
    }

    .titulocontagem {
        font-size: 24px; /* 32px reduzido em 25% */
        width: 300px; /* 400px reduzido em 25% */
        padding-left: 4.125em; /* 5.5em reduzido em 25% */
    }

    .contagem_regressiva {
        gap: 41.25px; /* 55px reduzido em 25% */
        font-size: 18px; /* 24px reduzido em 25% */
    }

    .cont_numero {
        font-size: 37.5px; /* 50px reduzido em 25% */
    }

    .arvore {
        width: 300px; /* 400px reduzido em 25% */
        height: 295.5px; /* 394px reduzido em 25% */
        padding-bottom: 150px; /* 200px reduzido em 25% */
    }

    .mini_card_cop {
        font-size: 15px; /* 20px reduzido em 25% */
        border-radius: 4.5px; /* 6px reduzido em 25% */
    }

    .cont_card_cop {
        font-size: 48px; /* 64px reduzido em 25% */
    }
}